:local {
    .dropdown {
        &Wrapper { position: relative; }

        &Menu {
            position: absolute;
            min-width: 160px;
            max-height: 0;
            top: 0;
            left: 0;

            background: var(--default-bg);
            opacity: 0;
            border: 1px solid transparent;
            border-radius: var(--base-br);
            
            overflow: hidden;
            pointer-events: none;
            transition: .3s ease-in-out;
            transition-property: max-height, opacity, box-shadow;
            
            &.active {
                max-height: 275px;

                border-color: var(--default-border-color);
                box-shadow: 0 2px 8px 0 rgba(78, 86, 95, 0.1);
                opacity: 1;
                
                overflow-y: auto;
                z-index: 3;
                pointer-events: initial;
            }

            &Centered {
                left: 0!important;
                right: 0;
            }

            &NoMinWidth { min-width: 90px; }

            &Nav {
                margin: 0 var(--base-pm);

                font-size: .95em;
                min-height: 60px;

                &Button {
                    position: relative;
                    height: 60px;
                    padding: var(--base-pm) calc(var(--base-pm) * 2);

                    opacity: .8;
                    border-radius: var(--base-br) var(--base-br) 0 0;
                    text-align: center;
                    
                    cursor: pointer;
                    transition: background-color .2s ease-in-out;
                    user-select: none;

                    b { font-weight: 500; }

                    p {
                        font-size: .9em;

                         svg {
                            width: 20px;

                            vertical-align: top;
                        }
                    }

                    &Custom { width: 90px; }

                    &:hover {
                        opacity: 1;
                        background-color: var(--default-border-color)
                    }
                }
            }

            @media (max-width: 1460px) {
                left: auto;
                right: 0;
            }
        }

        &Overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;

            pointer-events: none;

            &.active {
                z-index: 2;
                pointer-events: initial;
            }
        }
    }
}
