:local {
    .dropdown {
        &Wrapper { position: relative; }

        &Menu {
            position: absolute;
            min-width: 150px;
            max-height: 0;
            top: 0;
            left: 0;

            background: #fff;
            opacity: 0;
            border: 1px solid transparent;
            border-radius: var(--base-br);
            
            overflow: hidden;
            pointer-events: none;
            transition: .3s ease-in-out;
            transition-property: max-height, opacity, box-shadow;
            
            &.active {
                max-height: 275px;

                border-color: var(--default-border-color);
                box-shadow: 0 2px 4px 0 rgba(78, 86, 95, 0.1);
                opacity: 1;
                
                overflow-y: auto;
                z-index: 3;
                pointer-events: initial;
            }

            &Centered {
                left: 0!important;
                right: 0;
            }

            &NoMinWidth { min-width: 90px; }
        }

        &Overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;

            pointer-events: none;

            &.active {
                z-index: 2;
                pointer-events: initial;
            }
        }
    }

    @media (max-width: 1460px) {
        .dropdownMenu {
            left: auto;
            right: 0;
        }
    }
}
