:local {
    .form { 
        width: 70%;
        
        &ValidationText {
            min-height: 20px;

            color: var(--form-validation-text-error-color);
            
            font-size: .8em;
        }
    }
}
