:local {
    .sidebar {
        padding: 0 16px;

        border-right: 1px solid var(--default-border-color);

        h6 {
            margin-top: 24px;
            margin-bottom: 8px;

            font-size: 1.2em;
            font-weight: 300;

            svg {
                width: 20px;

                opacity: .8;
            }
        }

        &Info {
            p {
                margin: 8px 0;
                
                font-size: .9em;
                font-weight: 500;

                span {
                    font-weight: 400;
                    opacity: .85;
                }
            }
        }
    }
}
