:local {
    .sidebar {
        padding: 0 calc(var(--base-pm) * 2);
        max-width: 330px;
        width: 100%;

        border-right: 1px solid var(--default-border-color);

        h6,
        h5 {
            margin-bottom: var(--base-pm);

            font-size: 1em;
        }

        h5 {
            font-size: 1.15em;
            font-weight: 400;
        }

        h6 { color: var(--contrast-bg) }

        p { font-size: .85em; }

        &Links {
            margin-top: calc(var(--base-pm) * 2);
            
            a {
                display: block;
                width: 100%;

                padding: var(--base-pm);
                margin: var(--base-pm);

                border-radius: var(--base-br);
                transition: background-color .2s ease;
                
                &:hover,
                &.activeSection { background-color: var(--very-specific-light-color); }
            }

            @media (max-width: 480px) { flex-direction: column; }
        }

        code {
            background-color: var(--very-specific-light-color);

            margin: 4px;
            padding: 4px;
            border-radius: var(--base-br);
        }

        button {
            width: 100%;
            
            font-size: .9em;
        }

        @media (max-width: 800px) {
            max-width: none;

            margin-bottom: calc(var(--base-pm) * 2);

            border-right: none;

            &Links {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    
}
