:local {
    .home {
        flex: 1;
        min-height: 100vh;

        background: var(--shapes-layer), var(--contrast-gradient);
        color: var(--contrast-color);

        &Text {
            max-width: 380px;
            font-size: 1.5em;
            font-weight: 300;

            margin-bottom: calc(var(--base-pm) * 2);
            padding: var(--base-pm);

            text-align: center;
        }

        &Buttons {
            flex-wrap: wrap;
            width: 100%;
            max-width: 350px;
        }

        &Logo {
            img {
                width: 150px;
            }
            
        }
    }
}
