:local {
    .login {
        flex: 1;
        min-height: 100vh;

        background: var(--shapes-layer), var(--contrast-gradient);
        color: var(--contrast-color);

        &>div { border: .5px solid var(--contrast-bg); }

        &AltLinks {
            width: 70%;

            a {
                font-size: .9em;

                opacity: .65;

                transition: .2s ease-in-out;
                transition-property: opacity;

                &:hover { opacity: 1; }
            }
        }

        h1 { font-size: 2em; }

        @media (max-width: 550px) {
            &AltLinks { width: 100%;  }
        }
    }
}
