:local {
    .videoContainer {
        position: relative;

        cursor: pointer;

        &::after {
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            height: calc(100% - 5px);
            
            border-radius: 3px;
            

            content: '';
            background: rgba(0,0,0,.5) url(../../../../assets/img/play-circle.svg) no-repeat center center;
            background-size: 72px 72px;

            transition: opacity .2s cubic-bezier(.4,0,.2,1);
        }

        &Playing {
            &::after {
                background-image: url(../../../../assets/img/pause-circle.svg);
                
                opacity: 0;
                transition: opacity .2s cubic-bezier(.4,0,.2,1), background 0 ease .2s;
            }
        }

        &Hover{
            &::after { opacity: 1; }
        }
    }
}
