:local {
    .uploadForm {
        padding: 0 calc(var(--base-pm) * 2);

        input {
            display: none;

            pointer-events: none;
        }

        label {
            width: 100%;
            position: relative;

            font-size: 1.5em;

            padding: calc(var(--base-pm) * 8);
            margin: calc(var(--base-pm) * 2) 0;

            border-radius: var(--base-br);
            color: var(--contrast-bg);

            font-weight: 300;
            text-transform: uppercase;
            
            text-align: center;

            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                rect {
                    fill: none;
                    stroke-width: 4px;
                    stroke:  rgba(0,0,0,.15);
                    stroke-dasharray: 5px 10px;
                    stroke-linecap: square;
                    stroke-linejoin: round;
                }
            }
        }

        label[for] {
            cursor: pointer;
        }
    }
}
