:local {
    .uploadForm {
        padding: 0 calc(var(--base-pm) * 2);

        input {
            display: none;

            pointer-events: none;
        }

        label {
            width: 100%;

            cursor: pointer;
            font-size: 1.5em;

            padding: calc(var(--base-pm) * 8);
            margin: calc(var(--base-pm) * 2) 0;

            border: 1px dashed;
            border-radius: var(--base-br);
            color: var(--button-bg-color-contrast);

            font-weight: 300;
            text-transform: uppercase;
            
            text-align: center;
        }
    }
}
