:local {
    .uploadForm {
        padding: 0 calc(var(--base-pm) * 2);

        input {
            display: none;
            pointer-events: none;
        }

        label {
            cursor: pointer;
            font-size: 1.5em;
            width: 100%;
            border: 1px dashed;
            font-weight: 300;
            color: var(--button-bg-color-contrast);
            text-transform: uppercase;
            padding: calc(var(--base-pm) * 8);
            margin: calc(var(--base-pm) * 2) 0;
            border-radius: var(--base-br);
        }
    }
}
