:local {
    .selectButton {
        min-height: 42px;
        min-width: 42px;

        margin-left: var(--base-pm);
        
        border-radius: 100%!important;
        
        cursor: pointer;

        transition: background-color .3s;

        &:hover { background-color: var(--default-bg-hover) }
    }
}
