:local {
    .footer {
        span {
            margin: calc(var(--base-pm) * 4) calc(var(--base-pm) * 2);

            font-weight: 300;
            font-size: .95em;

            @media(max-width: 420px) { 
                flex-direction: column;

                margin: 0!important;
            }
        }

        svg { width: 18px; }

        &Content {
            margin-top: calc(var(--base-pm) * 2);
            opacity: .7;
            
            span { margin: calc(var(--base-pm) * 2); }

            svg { color: #000; }

            .twitter {
                svg { color: #1da1f3; }
            }

            @media(max-width: 420px) { margin-bottom: calc(var(--base-pm) * 2); }
        }
    }
}
