:local {
    .footer {
        p {
            margin: calc(var(--base-pm) * 4) calc(var(--base-pm) * 2);

            font-weight: 300;
            font-size: .9em;

        }

        svg { width: 15px; }

        &Content {
            margin-top: calc(var(--base-pm) * 2);
            font-size: .95em;
            opacity: .7;
            
            p { margin: calc(var(--base-pm) * 2); }

            svg { color: #1da1f3; }
        }
    }
}
