:local {
    .cpsubheader {
        width: 100%;

        border-bottom: 1px solid var(--cp-overview-layoutborder-color);

        &Wrapper {
            width: 100%;
            max-width: var(--content-max-width);

            padding: 0 var(--base-pm);
        }
    
        &UserStats { font-size: .85em; }
    }
    @media(max-width: 400px) {
        .cpsubheader {
            &UserStats { display: none; }
        }
    }
}
