:local {
    .select {
        flex: 1;
        margin: 0 var(--base-pm);
        
        &Buttons {
            opacity: 0;

            visibility: hidden;
            pointer-events: none;
            
            &Active {
                opacity: 1;

                pointer-events: initial;
                visibility: visible;
            }
        }
    }
}
