:local {
    .mediaView {
        flex: 1;

        margin-top: calc(var(--base-pm) * 4);

        &Wrapper {
            max-width: var(--content-max-width);
            overflow: hidden;
        }
    }
}
