:local {
    .mediaView {
        flex: 1;

        margin-top: calc(var(--base-pm) * 4);

        &Wrapper {
            max-width: calc(100% - calc(var(--base-pm) * 4));
            overflow: hidden;
        }
    }

     @media(max-width: 370px) {
        .mediaView {
            &Wrapper { width: 100%; }
        }
     }
}
