:local {
    .headerNav {
        height: var(--header-nav-height);

        background: var(--contrast-gradient);

        padding: 0 calc(var(--base-pm) * 5);

        &Logo {
            margin: 0;

            &Title {
                color: var(--contrast-color);

                margin: 0 var(--base-pm);

                font-size: 1.5em;
                font-weight: 300;
            }

            img {
                width: var(--header-nav-logo-size);
                height: var(--header-nav-logo-size);
            }

            @media(max-width: 720px) {
                &Title { display: none!important; }
            }

            @media (max-width: 360px) {
                transform: scale(.6);
            }
        }

        @media(max-width: 720px) {
            padding: 0 calc(var(--base-pm) * 2);
        }
    }
}
