:local {
    .mediaItem {
        padding: calc(var(--base-pm) / 2);

        background-color: var(--default-bg);

        border-radius: var(--base-br) var(--base-br) 0 0;
        border: 1px solid var(--very-specific-light-color);

        img,
        video {
            border-radius: var(--base-br);
        }

        img { cursor: zoom-in; }

        &.zoomed {
            position: fixed;
            top: 50px;
            left: 0;
            width: 100%;
            height: calc(100% - 50px);

            padding: 0;

            background-color: var(--default-bg);
            border-radius: 0;
            border: none;

            text-align: center;

            overflow: auto;
            z-index: 100;

            .closeButton { display: flex; }

            img {
                margin: 0;

                background-color: var(--default-bg);
                border-radius: 0;

                pointer-events: initial;
                cursor: zoom-out;
            }
        }
    }

    .closeButton {
        justify-content: flex-end;
        display: none;
        position: fixed;
        right: 0;
        height: 50px;
        left: 0;
        top: 0;

        background-color: var(--default-bg);
        border-bottom: 1px solid rgba(0,0,0,.08);

        span { cursor: pointer; }

        svg { margin-right: 32px; }
    }

    .zoomedMediaContainer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
