:local {
    .mediaItem {
        padding: calc(var(--base-pm) / 2);

        background-color: var(--default-bg);

        border-radius: var(--base-br) var(--base-br) 0 0;
        border: 1px solid rgba(0,0,0,.08);

        img,
        video { border-radius: var(--base-br); }
    }
}
