:local {
    .mediaInfo {
        padding: var(--base-pm);
        background-color: var(--default-bg);
        border-radius: 0 0 4px 4px;
        align-self: flex-end;
        margin-top: -1px;
        border: 1px solid rgba(0,0,0,.08);

        div {
            height: 100%;
            padding: 0 8px;
        }

        p {
            font-size: .9em;
            font-weight: 300;

            svg { width: 18px; }
        }
    }

    .shareButton {
        margin: 0 8px;
        svg {
            width: 22px;
        }
    }

    .twitter {
        &:hover {
            svg { color: var(--twitter-color); }
        }
    }

    .facebook {
        &:hover {
            svg { color: var(--facebook-color); }
        }
    }
}
