:local {
    .mediaInfo {
        padding: var(--base-pm);
        background-color: var(--default-bg);
        border-radius: 0 0 4px 4px;
        align-self: flex-end;
        margin-top: -1px;
        border: 1px solid rgba(0,0,0,.08);

        &Date {
            svg { opacity: .3; }
        }

        div {
            height: 100%;
            padding: 0 8px;
        }

        p {
            font-size: .9em;
            font-weight: 300;

            svg { width: 18px; }
        }
    }

    .shareButton {
        margin: 0 8px;

        svg { width: 20px; }
    }

    .twitter {
            svg { color: var(--twitter-color); }
    }

    .facebook {
            svg { color: var(--facebook-color); }
    }

    @media (max-width: 500px) {
        .mediaInfo {
            width: 100%;
            justify-content: flex-end;
        }
    }

     @media (max-width: 370px) {
        .mediaInfo {
            flex-direction: column;
            align-items: center;

            div { margin: var(--base-pm) 0; }
        }
    }
}
