:local {
    .mediaInfo {
        margin: calc(var(--base-pm) * 2) 0;

        p {
            margin: var(--base-pm);

            text-align: center;
        }

        &Buttons {
            flex: 1;

            a {
                flex: 1;
                display: block;
                
                margin: var(--base-pm);
            }

            button { margin: 0; }
        }
        
    }

    .dataSpec,
    .dataDate {
        flex: 2;

        opacity: .7;

        text-align: center;
        font-size: .8em;

        span { font-weight: 500; }

        small { opacity: .8 }

        &:hover { opacity: 1 }
    }

    @media(max-width: 440px) {
        .mediaInfo {
            &Buttons { flex-direction: column; }
        }
    }
}
