:local {
    .cpsubheader {
        width: 100%;

        border-bottom: 1px solid #e1e4e8;

        &Wrapper {
            max-width: var(--content-max-width);

            width: 100%;
        }
    
        &UserStats {
            flex: 6;

            font-size: .85em;
        }

        &Tabs {
            flex: 2;
            height: 100%;

            nav {
                flex: 1;
                height: 100%;
            }

            a {
                height: 100%;
                
                cursor: pointer;
            }
        }
    }
    
}
