:local {
    .cpsubheader {
        width: 100%;

        border-bottom: 1px solid #e1e4e8;

        &Wrapper {
            width: 100%;
            max-width: var(--content-max-width);

            padding: 0 var(--base-pm);
        }
    
        &UserStats { font-size: .85em; }

        &Tabs {
            height: 100%;

            nav {
                height: 100%;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                height: 100%;

                border-bottom: 2px solid #fff;

                padding: calc(var(--base-pm) * 2);

                cursor: pointer;

                svg {
                    width: 20px;

                    color: rgba(124, 124, 124, 0.6);

                    transition: color .2s;
                }

                &:hover {
                    svg {
                        opacity: 1;

                        color: var(--subheader-tab-color-default);
                    }

                    &[data-adminbutton] {
                        svg { color: var(--subheader-tab-color-admin); }
                    }
                }
            }
        }
    }
    
}

:global {
    a.active {
        border-bottom: 2px solid var(--cpsubheader-active-tab-border-color); 
    
        svg {
            opacity: 1;

            color: var(--subheader-tab-color-default);
        }

        &[data-adminbutton] {
            svg { color: var(--subheader-tab-color-admin); }
        }
    }
}
