:local {
    .cpsubheader {
        width: 100%;

        border-bottom: 1px solid #e1e4e8;

        &Wrapper {
            width: 100%;
            max-width: var(--content-max-width);

            padding: 0 var(--base-pm);
        }
    
        &UserStats { font-size: .85em; }

        &Tabs {
            height: 100%;

            nav {
                height: 100%;
            }

            a {
                height: 100%;

                border-bottom: 2px solid #fff;

                padding: calc(var(--base-pm) * 2);

                cursor: pointer;
            }
        }
    }
    
}

:global {
    a.active { border-bottom: 2px solid var(--cpsubheader-tab-color); }
}
