[ripple] {
    position: relative;

    overflow: hidden;

    .ripple--container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        span {
            position: absolute;

            background-color: currentColor;
          
            border-radius: 100%;
            opacity: .2;

            transform: scale(0);
            animation: ripple 600ms;
            pointer-events: none;
        }
    }
}

// MD ripple
@keyframes ripple {
    to {
        opacity: 0;
        
        transform: scale(2);
    }
}
