:global {
    :root {
        --base-pm: 8px;
        --base-br: 4px;
        --bg-blue-gradient: linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat;
        --bg-shapes-layer: url(../assets/img/section-background.svg) 50% 17vh no-repeat;
        --blue-bg-text-color: rgba(255, 255, 255, 0.8);

        --content-background-gradient: linear-gradient(to left top, #f2f2f2, #ffffff);

        --content-max-width: 1300px;

        --loading-spinner-color: #1e87f0;

        --header-nav-logo-color: #fff;
        --header-nav-logo-size: 34px;
        --header-nav-height: 50px;

        --paper-background-color: #fff;
        --paper-text-color: #222;

        --form-validation-text-error-color: #D50000;

        --button-bg-color-default: transparent;
        --button-text-color-default: #222;
        --button-text-color-default--hover: lighten(#222, 30%);
        --button-border-color-default: lighten(#222, 70%);
        --button-bg-color-contrast: #1e87f0;
        --button-text-color-contrast: #fff;
        --button-text-color-big: #1e87f0;
        --button-bg-color-big: #fff;
        --button-text-color-transparent: rgba(255, 255, 255, 0.8);
        --button-text-color-transparent--hover: #fff;
        --button-border-color-transparent: #e5e5e5;
        --button-border-color-transparent--hover: #fff;
        --button-text-color-nav--default: rgba(255,255,255,.8);
        --button-text-color-nav--hover: rgba(255,255,255, 1);
        --button-bg-color-nav--hover: rgba(255,255,255, .1);

        --input-bg-color-default: #fff;
        --input-text-color-default: #666;
        --input-border-color-default: #e5e5e5;
        --input-border-color-default--focus: #1e87f0;
        --input-border-color-default--valid: #00c853;
        --input-border-color-default--invalid: #D50000;
        
        --media-view-card-background-color: transparentize(#f8f8f8, .25);

        --cp-subheader-active-tab-border-color: darken(#1e87f0, 10%);

        --cp-overview-search-input-accent-color: #1e87f0;
        --cp-overview-search-title-color: #1e87f0;

        --cp-subheader-tab-color-default: rgba(124, 124, 124, 0.6);
        --cp-subheader-tab-color-active: #249af3;
        --cp-subheader-tab-color-admin: #D50000;
        
        --cp-overview-layoutborder-color: #e1e4e8;

        --cp-overview-medialist-height: 90px;
        --cp-overview-medialist-media-width: 100px;
        --cp-overview-medialist-media-height: 74px;
        --cp-overview-medialist-item-activeborder-color: #1e87f0;

        --modal-content-border-color: rgba(27,31,35,0.25);
        --modal-content-background-color: #fff;
        --modal-body-text-color: rgb(43, 43, 43);
        --modal-accept-button-icon-color: #1e87f0;
        --modal-close-button-icon-color: #D50000;
    }
}
