:global {
    .nomedia {
        margin: var(--base-pm);

        color: var(--default-color);

        text-align: center;

        font-weight: 300;
        font-size: 1.5em;

        p,
        a,
        small,
        span, {
            text-align: center;
            opacity: .9;
        }
    }

    .stupid-container {
        width: 100%;
        height: auto;
    }
}
