:local {
    .filtersForm {
        h5 {
            font-weight: 300;
            font-size: 1.1em;
        }

        &Section {
            padding-bottom: calc(var(--base-pm) * 2);
            margin: calc(var(--base-pm) * 2) 0;

            select {
                min-width: 100px;

                padding: calc(var(--base-pm) / 2) var(--base-pm);

                border-radius: var(--base-br);
                border-color: var(--contrast-bg);
                border-style: solid;
                border-width: 1px;
            }
        }

        &Submit {
            text-align: right;

            a { cursor: pointer; }
        }

        &LimitSelect { min-width: 200px; }

        @media(max-width: 600px) {
            &Section { padding: calc(var(--base-pm) / 2) 0; }
        }
    }

    @media(max-width: 450px) {
        .radioButtons {
            flex-direction: column;

            div { margin: var(--base-pm) }
        }

        .dateInputs { flex-direction: column; }
    }

   .disabledLink {
        small { opacity: .4; }

        cursor: not-allowed!important;
        pointer-events: none;
   }
}
