:local {
    .filtersForm {
        h5 {
            font-weight: 300;
            font-size: 1.1em;
        }

        &Section {
            padding-bottom: 16px;
            margin: 16px 0;

            select {
                min-width: 100px;

                padding: 4px 8px;

                border-radius: 4px;
                border-color: #1e87f0;
            }
        }

        &Submit {
            text-align: right;

            a {
                margin: 0 8px;

                cursor: pointer;
            }
        }

        &LimitSelect { min-width: 200px; }
    }
}
