:local {
    .tabs {
        height: 100%;

        nav {
            height: 100%;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            border-bottom: 2px solid transparent;

            padding: calc(var(--base-pm) * 2);

            cursor: pointer;
            user-select: none;
            white-space: nowrap;

            svg {
                width: 20px;

                color: var(--default-color-hover);

                transition: color .2s;
            }

            &:hover {
                svg {
                    opacity: 1;

                    color: var(--contrast-bg);
                }

                &[data-dangerbutton] {
                    svg { color: var(--warning-color); }
                }
            }
        }

        @media (max-width: 550px) {
            width: 100%;

            nav {
                width: 100%
            }

            a {
                padding: calc(var(--base-pm) * 2) 0;
            }
        }

        @media (max-width: 400px) {
                a {
                    flex-direction: column;
                    font-size: .9em;
                    padding: var(--base-pm) 0;
                }
            }
        }
}

:global {
    a.tab-active {
        border-bottom: 2px solid var(--contrast-bg);

        svg {
            opacity: 1;

            color: var(--contrast-bg);
        }

        &[data-dangerbutton] {
            svg { color: var(--warning-color); }
        }
    }
}
