:local {
    svg {
        width: 24px;
        height: 24px;

        fill: currentColor;
        vertical-align: middle;

        transition: color .2s ease-in-out;
        pointer-events: none;
    }

    svg:not(:root) { overflow: hidden; }
}
