:local {
    .search {
        h3 {
            margin-bottom: calc(var(--base-pm) * 2) 0;

            text-align: center;
            color: var(--cp-overview-search-title-color);
            
            font-size: 1.3em;
            font-weight: 300;
            
            pointer-events: none;
            user-select: none;
            cursor: pointer;

            svg {
                width: 20px;

                margin-right: var(base-pm);
                margin-bottom: calc(var(base-pm) / 4);

                opacity: 0;
                
            }

        }
    
        input[type='date'],
        input[type='text'] {
            padding: var(--base-pm);
    
            border: 1px solid var(--cp-overview-search-input-accent-color);
            border-radius: var(--base-br);
            color: inherit;
    
            text-transform: uppercase;
            font-family: inherit;
            font-size: .8em;
            
        }

        p {
            margin-right: 0;
    
            text-align: center;
            opacity: .8;
    
            font-size: .9em;
        }
    }
}
