:local {
    .checkboxWrapper {
        input[type="checkbox"] { display: none; }

        input[type="checkbox"] + label {
            position: relative;

            border-radius: var(--base-br);

            font: inherit;
            cursor: pointer;
            
            user-select: none;
            outline: none;
        }

        .checkbox {
            width: calc(15px + calc(var(--base-pm) * 2));
            padding: var(--base-pm);
            
            pointer-events: none;

            &:before {
                content: '';
                display: block;
                width: 15px;
                height: 15px;

                border: 1px solid var( --contrast-bg);
                opacity: .6;

                -webkit-transition: all .12s, border-color .08s;
                transition: all .12s, border-color .08s;
            }
        }

        input[type="checkbox"]:checked + label {
           .checkbox:before {
                width: 5px;

                border-radius: 0;
                opacity: 1;
                border-top-color: transparent;
                border-left-color: transparent;

                transform: rotate(45deg);
           }
        }

        p { 
            padding: var(--base-pm);
            font-size: .95em;

            &>div {
                padding: var(--base-pm) calc(var(--base-pm) * 3);
            }
        }
    }

    .disabled {
        opacity: .5;
        pointer-events: none;
    }
}
