:local {
    .pagination {
            &Nav {
                margin: 0 var(--base-pm);

                font-size: .95em;
                min-height: 60px;

                &Button {
                    position: relative;
                    height: 60px;
                    padding: var(--base-pm) calc(var(--base-pm) * 2);

                    opacity: .8;
                    border-radius: var(--base-br) var(--base-br) 0 0;
                    text-align: center;
                    
                    cursor: pointer;
                    transition: background-color .2s ease-in-out;
                    user-select: none;

                    b { font-weight: 500; }

                    p {
                        font-size: .9em;

                         svg {
                            width: 20px;

                            vertical-align: top;
                        }
                    }

                    &Disabled {
                        opacity: .2;

                        pointer-events: none;
                    }

                    &Right { text-align: right; }

                    &Left { text-align: left; }

                    &Custom { width: 90px; }

                    &:hover {
                        opacity: 1;
                        background-color: var(--default-border-color)
                    }
                }
            }

            &List {
                flex: 2;
                align-items: flex-end;
                min-width: 90px;

                ::-webkit-scrollbar {
                    width: 8px!important;
                    height: 8px!important;
                }

                ::-webkit-scrollbar-thumb {
                    background-color: var(--default-border-color);
                }

                ::-webkit-scrollbar-track {
                    background-color: transparent;
                }
            }
        }

        @media(max-width: 600px) {
            .pagination {
                &Nav {
                    &Button { font-size: .9em; }
                }
            }
        }

        @media(max-width: 525px) {
             .pagination {
                &Nav {
                    &Button {
                        p { display: none; }

                        &Custom { flex-direction: column-reverse; }
                    }
                }
            }
        }
}

:global {
    .pagelist-active {
        button { background-color: rgba(56, 61, 66, 0.075); }
    }
}
