:local {
    .pagination {
            &Nav {
                margin: 0 8px;

                font-size: .95em;
                min-height: 60px;

                &Button {
                    position: relative;
                    padding: 8px 16px;

                    opacity: .8;
                    border-radius: 4px 4px 0 0;
                    
                    cursor: pointer;
                    transition: background-color .2s ease-in-out;
                    user-select: none;

                    b { font-weight: 500; }

                    p {
                        font-size: .9em;

                         svg {
                            width: 20px;

                            vertical-align: top;
                        }
                    }

                    &Disabled {
                        opacity: .2;

                        pointer-events: none;
                    }

                    &Right { text-align: right; }

                    &Custom { width: 90px; }

                    &:hover {
                        opacity: 1;
                        background-color: var(--cp-overview-layoutborder-color)
                    }
                }
            }

            &List {
                flex: 2;
                align-items: flex-end;
            }
        }
}
