:local {
    .uploadsToolbar {
            justify-content: flex-end;
            border-bottom: 1px solid var(--default-border-color);

            margin-right: var(--base-pm);

            &Select { margin-bottom: var(--base-pm); }
        }
}
