:local {
    .searchDates {
        p {
            margin: calc(var(--base-pm) * 2) 0;

            text-align: center;
            opacity: .8;

            font-size: .8em;
        }

        input[type='date'] {
            padding: var(--base-pm);

            border: 1px solid var(--daypicker-accent-color);
            border-radius: var(--base-br);
            color: inherit;

            text-transform: uppercase;
            font-family: inherit;
            font-size: .8em;
            
        }
    }
}
