:global {
    .paper {
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        color: var(--default-color);

        font-weight: 300;

        border-radius: var(--base-br);

        &-small { max-width: 650px; }

        &-padding { padding: calc(var(--base-pm) * 4) calc(var(--base-pm) * 4); }
    }

    @media(max-width: 650px) {
        .paper-small { border-radius: 0; }
    }
}
