:local {
    .data {
        flex: 1;

        &Spec,
        &Date {
            flex: 2;

            opacity: .95;

            font-size: .8em;

            span { font-weight: 500; }

            small { opacity: .8 }
        }

        @media(max-width: 570px) {
            &Spec { display: none!important; }

            &Date {
                span,
                small { display: none; }
            }
        }
    }
}
