:local {
    .button {
        -webkit-appearance: none;
        width: 100%;
        position: relative;

        background-color: transparent;
        color: var(--default-color);
        border: 1px solid var(--default-border-color);
        border-radius: var(--base-br);
        outline: none;

        padding: var(--base-pm) calc(var(--base-pm) * 4);
        margin: calc(var(--base-pm) * 3) 0;

        font-size: 14px;
        text-align: center;
        text-transform: uppercase;

        transition: .1s ease-in-out;
        transition-property: color, background-color, border-color;
        cursor: pointer;
        user-select: none;

        &:disabled {
            opacity: .5;
            pointer-events: none;
        }

        svg { width: 20px; }

        &Round { border-radius: 500px; }

        &Contrast {
            background-color: var(--contrast-bg);
            color: var(--contrast-color);
            border: 0;

            &:hover {
                background-color: var(--contrast-bg-hover);
            }
        }

        &Big {
            padding: 0 calc(var(--base-pm) * 5);

            background-color: var(--default-bg);
            color: var(--contrast-bg);
            border: 0;

            line-height: 38px;
            text-transform: uppercase;

            &:hover { box-shadow: 0 10px 40px currentColor; }
        }

        &Small {
            width: auto;

            padding: calc(var(--base-pm) / 2) calc(var(--base-pm) * 2);
            margin: 0 8px;

            font-size: 12px;

            svg { width: 18px; }
        }

        &Transparent {
            border: 1px solid #e5e5e5;

            color: rgba(255, 255, 255, 0.8);
            background-color: transparent;

            &:hover {
                box-shadow: none;
                color: #fff;
                border-color: #fff;
            }
        }

        &Nav {
            width: auto;
            height: var(--header-nav-height);

            margin: 0;
            padding: var(--base-pm) calc(var(--base-pm) * 3);
                
            outline: none;
            border: 0;
            border-radius: 0;
            color: var(--contrast-color);

            font-size: 1.05em;
            font: inherit;
            // font-weight: 300;
            white-space: nowrap;
           
            text-transform: none;
            
            &:hover {
                color: var(--default-bg);
                background-color: rgba(255, 255, 255, 0.1);
            }

            @media(max-width: 650px) {
                display: inline!important;

                p { font-size: .8em; }
            }

            @media(max-width: 400px) {
                p { display: none; }
            }
        }

        &Dropdown {
            justify-content: flex-start!important;

            padding: calc(var(--base-pm) * 1.5) calc(var(--base-pm) * 2);
            margin: 0;

            
            cursor: pointer;
            border: 0;
            border-radius: 0;

            font-size: .9em;
            text-transform: capitalize;            

            svg { width: 18px; }

            &:hover { background-color: var(--default-bg-hover) }
        }

        &Floating {
            position: fixed;
            bottom: 0;
            right: 0;
            width: auto;

            margin: calc(var(--base-pm) * 2);
            padding: calc(var(--base-pm) * 2);

            border: none;
            border-radius: 100%;
            box-shadow: 5px 0 20px 5px rgba(17, 23, 27, 0.1);
            background-color: var(--contrast-bg);
            color: var(--contrast-color);

            z-index: 5;
            
            svg {
                width: 24px;

                // Workaround to center svg icon
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &:hover { background-color: var(--contrast-bg-hover); }
        }

        &Icon {
            width: auto;
            min-height: 42px;
            min-width: 42px;

            margin: 0;
            margin-left: 8px;
            padding: 8px;

            border: none;
            border-radius: 100%;

            cursor: pointer;
            transition: background-color .2s ease-in-out;
            
            svg {
                width: 24px;

                color: rgba(42, 67, 90, 0.9);

                // Workaround to center svg icon
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                
            }
            
            &:hover { background-color: var(--default-bg-hover); }
        }

        &Badge {
            &::before {
                content: '';
                position: absolute;
                top: 8px;
                right: 8px;

                width: 5px;
                height: 5px;
                
                background-color: var(--warning-color);
                border-radius: 50%;
            }
        }
    }
}

:global {
    a.nav-active {
       button {
            color: var(--default-bg);
            background-color: rgba(255, 255, 255, 0.1);

            svg { color: var(--default-bg); }
       }
    }

    button {
        .spinner { margin: 0; }
    }
}
