:local {
    .button {
        -webkit-appearance: none;
        width: 100%;

        background-color: var(--button-bg-color-default);
        color: var(--button-text-color-default);
        border: 1px solid var(--button-border-color-default);
        border-radius: var(--base-br);

        padding: var(--base-pm) calc(var(--base-pm) * 4);
        margin: calc(var(--base-pm) * 3) 0;

        font-size: 14px;
        text-align: center;
        text-transform: uppercase;

        transition: .1s ease-in-out;
        transition-property: color, background-color, border-color;
        cursor: pointer;

        &:disabled {
            opacity: .65;
            pointer-events: none;
        }

        svg { width: 20px; }

        &:hover {
            svg { color: var(--button-text-color-default--hover); } 
        }

        &Round { border-radius: 500px; }

        &Contrast {
            background-color: var(--button-bg-color-contrast);
            color: var(--button-text-color-contrast);
            border: 0;
        }

        &Big {
            padding: 0 calc(var(--base-pm) * 5);

            background-color: var(--button-bg-color-big);
            color: var(--button-text-color-big);
            border: 0;

            line-height: 38px;
            text-transform: uppercase;

            &:hover { box-shadow: 0 10px 40px currentColor; }
        }

        &Small {
            padding: calc(var(--base-pm) / 2) calc(var(--base-pm) * 2);
            font-size: 12px;

            svg { width: 17px; }
        }

        &Transparent {
            border: 1px solid var(--button-border-color-transparent);

            color: var(--button-text-color-transparent);
            background-color: transparent;

            &:hover {
                box-shadow: none;
                color: var(--button-text-color-transparent--hover);
                border-color: var(--button-border-color-transparent--hover);
            }
        }

        &Nav {
            width: auto;
            height: var(--header-nav-height);

            margin: 0;

            outline: none;
            border: 0;
            border-radius: 0;
            color: var(--button-text-color-nav--default);

            font-size: 1.05em;
            font: inherit;
            font-weight: 300;
           
            text-transform: none;
            
            &:hover {
                color: var(--button-text-color-nav--hover);
                background-color: var(--button-bg-color-nav--hover);

                svg { color: var(--button-text-color-nav--hover); }
            }
        }

        &Dropdown {
            justify-content: flex-start;

            padding: calc(var(--base-pm) * 1.5) calc(var(--base-pm) * 2);
            margin: 0;

            
            cursor: pointer;
            border: 0;
            border-radius: 0;

            font-size: .9em;
            text-transform: capitalize;            

            svg { width: 17px; }

            &:hover { background-color: rgba(56, 61, 66, 0.075) }
        }
    }
}

:global {
    a.nav-active {
       button {
            color: var(--button-text-color-nav--hover);
        background-color: var(--button-bg-color-nav--hover);

        svg { color: var(--button-text-color-nav--hover); }
       }
    }

    button {
        .spinner {
            margin: 0;
        }
    }
}
