/*
* Flexbox utils
*/

.flex { 
    display: -webkit-box; 
    display: -ms-flexbox; 
           display: flex; 
}

/* Flex direction */
.flex-dc { 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column; }

.flex-full-center {
    -webkit-box-pack: center;
       -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
       -ms-flex-align: center;
    align-items: center;
}

/* Center within the main axis */
.flex-main-center { 
    -webkit-box-pack: center; 
       -ms-flex-pack: center; 
    justify-content: center; 
}

/* // Center within the cross-axis */
.flex-cross-center { 
    -webkit-box-align: center; 
       -ms-flex-align: center; 
    align-items: center; 
}

/* Justify space between */
.flex-sb { 
    -webkit-box-pack: justify; 
       -ms-flex-pack: justify; 
    justify-content: space-between; 
}

/* Justify space around */
.flex-sa { 
    -ms-flex-pack: distribute; 
    justify-content: space-around; 
}

/*
* Misc
*/
.dom-hidden { display: none; }

/**
 * Can't render app class
 */
.wtf-gtfo {
    background: url('/assets/img/section-background.svg') 50% 17vh no-repeat, linear-gradient(to left top, #28a5f5, #1e87f0) 0 0 no-repeat;
    color: rgba(255, 255, 255, 0.9);
}

.wtf-gtfo img { margin: 16px; }

.wtf-gtfo p,
.wtf-gtfo span {
    max-width: 430px;
    font-size: 1.5em;
    font-weight: 300;

    margin-bottom: 16px;
    padding: 8px;

    text-align: center;
}

.wtf-gtfo span {
    font-size: 1.2em;
}
