:local {
    .upload {
        min-height: var(--cp-overview-medialist-height);
        max-height: var(--cp-overview-medialist-height);

        padding: var(--base-pm);

        border-left: 4px solid transparent;
        border-radius: var(--base-br) 0 0 var(--base-br);

        transition: border .15s;

        &:not(:last-child) { border-bottom: 1px solid var(--cp-overview-layoutborder-color); }

        &:hover { border-left-color: var(--cp-overview-medialist-item-activeborder-color) }

        &Media {
            flex: 2;
            max-width: var(--cp-overview-medialist-media-width);
            max-height: var(--cp-overview-medialist-media-height);

            margin-right: calc(var(--base-pm) * 2);

            border: 1px solid rgba(0,0,0,.08);
            border-radius: var(--base-br);

            overflow: hidden;
            user-select: none;

            img { border-radius: var(--base-br); }
        }
    }
}
