:local {
    .upload {
        min-height: var(--cp-overview-medialist-height);
        max-height: var(--cp-overview-medialist-height);

        padding-left: var(--base-pm);
        padding-top: var(--base-pm);
        padding-bottom: var(--base-pm);

        border-left: 4px solid transparent;
        border-radius: var(--base-br) 0 0 var(--base-br);

        transition: border .15s;

        &:not(:last-child) { border-bottom: 1px solid var(--cp-overview-layoutborder-color); }

        &:hover { border-left-color: var(--cp-overview-medialist-item-activeborder-color) }

        &Media {
            flex: 1;
            max-width: var(--cp-overview-medialist-media-width);
            max-height: var(--cp-overview-medialist-media-height);

            margin-right: calc(var(--base-pm) * 2);

            border: 1px solid rgba(0,0,0,.08);
            border-radius: var(--base-br);

            overflow: hidden;
            user-select: none;

            img { border-radius: var(--base-br); }
        }

        &DataSpec,
        &DataDate {
            flex: 2;

            opacity: .95;

            text-align: center;
            font-size: .8em;

            span { font-weight: 500; }

            small { opacity: .8 }
        }

        &OpenButton,
        &SelectButton {
            min-height: 42px;
            min-width: 42px;

            margin-left: var(--base-pm);
            
            border-radius: 100%;
            
            cursor: pointer;

            transition: background-color .3s;

            &:hover { background-color: var(--icon-bg-color-action-button--hover) }
        }
    }
}
