:local {
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    
    .upload {
        min-height: var(--medialist-item-height);
        max-height: var(--medialist-item-height);

        padding: var(--base-pm);

        border-left: 4px solid transparent;
        border-radius: var(--base-br) 0 0 var(--base-br);

        transition: border .15s;

        &:not(:last-child) { border-bottom: 1px solid var(--default-border-color); }

        &:hover { border-left-color: var(--contrast-bg) }

        animation-name: fadeIn;
        animation-duration: 1s;
        animation-fill-mode: both;

        
        &DataLink {
            flex: 1;
        }

        &Media {
            flex: 2;
            max-width: var(--medialist-item-media-width);
            max-height: var(--medialist-item-media-height);

            margin-right: calc(var(--base-pm) * 2);

            border: 1px solid rgba(0,0,0,.08);
            border-radius: var(--base-br);

            overflow: hidden;
            user-select: none;

            img { border-radius: var(--base-br); }
        }
    }
}

