:local {
    .upload {
        &:not(:last-child) { 
            border-bottom: 1px solid #e1e4e8;

            padding-bottom: var(--base-pm);
        }

        &:not(:first-child) { padding-top: var(--base-pm); }

        &Image {
            flex: 1;
            max-width: 100px;
            min-width: 90px;
            height: 90px;

            margin-right: calc(var(--base-pm) * 2);

            border-radius: var(--base-br);

            overflow: hidden;

            img { border-radius: var(--base-br); }
        }

        &DataSpec,
        &DataDate {
            flex: 2;

            opacity: .95;

            text-align: center;
            font-size: .8em;

            span { font-weight: 500; }

            small { opacity: .8 }
        }

        &Buttons {
            position: relative;

            a:not(:last-child) { margin-bottom: var(--base-pm); }
            
            &Button {
                max-width: 150px;

                margin: 0;
            }
        }
    }
}
