:local {
    .notFound {
        flex: 1;

        a {
            font-size: .85em;

            transition: color .3s ease-in-out;

            &:hover { color: var(--contrast-bg); }
        }

        img {
            margin: var(--base-pm);

            border-radius: 4px;
            
            overflow: hidden;
        }
    }
}
