:local {
    .notFound {
        flex: 1;

        a {
            color: var(--contrast-bg);

            transition: color .3s ease-in-out;
        }

        picture {
            margin: var(--base-pm);

            border-radius: 4px;
            
            overflow: hidden;
        }
    }
}
