:local {
    .form { 
        width: 70%; 
        
        &ValidationText {
            font-size: .8em;
            color: var(--form-validation-text-error-color);
            min-height: 20px;
        }
    }
}
