:local {
    .form { 
        width: 70%; 
        
        &ValidationText {
            font-size: .8em;
            color: var(--warning-color);
            min-height: 20px;
        }
    }

    @media (max-width: 550px) {
        .form { width: 100%; }
    }
}
