:local {
    .section {
        padding: 0 32px;

        h3 { font-size: 1.4em; }

        &Info {
            ol { margin-left: 32px; }

            p { margin: 16px 0; }
        }

        code {
           background-color: var(--very-specific-light-color);

            margin: 4px;
            padding: 4px;
            border-radius: var(--base-br);
        }
    }

    .backButton {
        margin: 0;
        margin-top: 4px;
        margin-left: -8px;
    }

    .terminalWindow {
        position: relative;

        margin: auto;
        color: #fff;

        text-align: left;
        border-radius: 4px;

        header {
            height: 30px;

            background: rgb(202, 215, 228);

            border-radius: 4px 4px 0 0;
            padding-left: 10px;

            button {
                position: relative;
                border: none;
                margin: 2px 4px;
                padding: 2px 16px;
                min-width: 80px;
                cursor: pointer;
                background: rgba(48, 53, 58, 0.85);
                border-radius: 4px;
                outline: none;
                font-size: .8em;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.836);
            }
        }

        &Button {
            width: 12px;
            height: 12px;
            margin: 10px 8px 0 0;
            display: inline-block;
            border-radius: 8px;
        }

        section {
            width: 100%;
            top: 30px;
            bottom: 0;
            box-sizing: border-box;

            padding: 10px;
            background: #30353A;

            color: white;
            font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
            font-size: 11pt;

            cursor: text;
            overflow: auto;
        }
    }

    .green { background: #3BB662; }

    .yellow { background: #E5C30F; }

    .red { background: #E75448; }

    .terminalBlue { color: #35acf7; }

    .terminalLightBlue { color: #81D4FA; }

    @keyframes :local(blink) {
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }

    .cursor {
        display: inline-block;
        width: 1.5px;
        height: 15px;

        margin-top: -2px;

        background-color: #fff;
        vertical-align: middle;
        opacity: 1;

        animation: blink 0.7s infinite;
    }
}
