:local {
    .section {
        padding: 0 32px;

        h3 { font-size: 1.4em; }

        &Info {
            ol { margin-left: 32px; }

            p { margin: 16px 0; }
        }

        code {
            background-color: var(--very-specific-light-color);

            margin: var(--base-pm) calc(var(--base-pm) / 2);
            padding: calc(var(--base-pm) / 2);

            border-radius: var(--base-br);
        }

        .warning {
            max-width: 450px;
            margin: calc(var(--base-pm) * 2) auto;
            font-size: .9em;
        }

        .smallSvg svg { width: 18px; }
    }

    .backButton {
        margin: 0;
        margin-top: calc(var(--base-pm) / 2);
        margin-left: -8px;
    }

    .terminalWindow {
        position: relative;

        margin: auto;
        color: #fff;

        text-align: left;
        border-radius: var(--base-br);

        header {
            height: 30px;

            background: rgb(202, 215, 228);

            border-radius: var(--base-br) var(--base-br) 0 0;
            padding-left: 10px;
        }

        &Button {
            width: 12px;
            height: 12px;
            margin: 10px 8px 0 0;
            display: inline-block;
            border-radius: 50%;
        }

        section {
            width: 100%;
            top: 30px;
            bottom: 0;
            box-sizing: border-box;

            padding: 12px;
            background: #30353A;

            color: white;
            font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
            font-size: .9em;

            cursor: text;
            overflow: auto;
        }
    }

    .green { background: #3BB662; }

    .yellow { background: #E5C30F; }

    .red { background: #E75448; }

    .terminalBlue { color: #35acf7; }

    .terminalLightBlue { color: #81D4FA; }

    @keyframes :local(blink) {
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }

    .cursor {
        display: inline-block;
        width: 1.5px;
        height: 15px;

        margin-top: -2px;

        background-color: #fff;
        vertical-align: middle;
        opacity: 1;

        animation: blink 0.7s infinite;
    }

    .copyButton {
        position: relative;
        min-width: 80px;

        margin: 2px calc(var(--base-pm) / 2);
        padding: 2px calc(var(--base-pm) * 2);

        border: none;
        color: rgba(255, 255, 255, 0.836);

        background: rgba(48, 53, 58, 0.85);
        border-radius: var(--base-br);

        font-size: .8em;

        cursor: pointer;
        outline: none;
        text-transform: uppercase;

    }

   @media(max-width: 420px) {
    .tokenLinkContainer {
        flex-direction: column;

        button {
            width: 100%;
        }
    }
   }
}
