:local {
    .uploads {
        flex: 2;

        margin: var(--base-pm) calc(var(--base-pm) * 2);

        .nomedia {
            font-weight: 300;
            font-size: 1.5em;
            color: rgba(0,0,0,.35);
        }
    }
}
